.project
/.settings/
/.cache/
/.tox/
MANIFEST
pylint_done
.coverage
/build/
/build_doc/
/dist/
/htmlcov/
tests/runtests.log
tests/testtmp/
.ipynb_checkpoints/
AUTHORS
ChangeLog
/*egg-info
*.egg
*.eggs
setuptools-*.zip
*.pyc
*.log
*.tmp
tmp.*
/tmp_*/



