.project
/.settings/
.pydevproject
/.pytest_cache
/.cache/
/.tox/
.ipynb_checkpoints/
*.pyc
*.log
*.tmp
*.ini
tmp.*
*~
.*~
smipyping.egg-info
MANIFEST
/AUTHORS
/ChangeLog
/*.done
pylint_done
.coverage
/coverage_html/
/build/
/build_doc/
setuptools-*.egg
setuptools-*.zip
/tmp_*/
/dist/smipyping*.tar.gz
/dist/smipyping*.whl
.DS_Store
*,cover
cover
.idea
*.sw?
*.eggs
*egg-info
