.project
/.settings/
/.cache/
/.tox/
*.pyc
*.log
*.tmp
tmp.*
smipyping.egg_info
MANIFEST
pylint_done
.coverage
/build/
/build_doc/
testsuite/runtests.log
testsuite/testtmp/
*.egg
*.egg-info/
setuptools-*.zip
/tmp_*/
/dist/smipyping*.tar.gz
/dist/smipyping*.whl

